<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CARS</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Brand </th>
        <th> Model </th>
        <th> Year </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td><span th:text="${car.brand}"> Brand </span></td>
        <td><span th:text="${car.model}"> Model </span></td>
        <td><span th:text="${car.year}"> Year </span></td>
    </tr>
    </tbody>
</table>
</body>
</html>